<p id="notice"><%= notice %></p>

<h1>Listing Obts</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>B group</th>
      <th>Name</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obts.each do |obt| %>
      <tr>
        <td><%= obt.location %></td>
        <td><%= obt.b_group %></td>
        <td><%= obt.name %></td>
        <td><%= obt.contact %></td>
        <td><%= link_to 'Show', obt %></td>
        <td><%= link_to 'Edit', edit_obt_path(obt) %></td>
        <td><%= link_to 'Destroy', obt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obt', new_obt_path %>
